@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-[#242424];
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }
  
  body {
    background-color: #F9F9F9;
  }
}

.price-range-container {
    max-width: 100%;
    overflow-x: hidden;
}

.price-range-container .slider-track {
    width: 100%;
}

.dashed-blue-ring {
  ring: 4px dashed #007BFF; /* синий цвет пунктирной линии */
}

@theme{
    --color-main: #f9f9f9;
    --color-firm-orange:#F4A67F;
    --color-firm-pink:#D97C8E;
}

.typography {
  font-size: var(--text-base);
  color: var(--color-gray-700);
}

.search-input::placeholder {
  content: "🔍";
  display: inline-block;
  margin-right: 5px;
}